#!/bin/sh

{{ engine_path }} shell --cleanenv \
{% for envvar in envvars %}  --env "{{ envvar }}=${{{ envvar }}}" \
{% endfor %}{% if apptainer_args %}  {{ apptainer_args }} \
{% endif %}{% for volume in volumes %}{% if volume != "$HOME" and volume != "${HOME}" %}  -B "{{ volume }}:{{ volume }}" \
{% endif %}{% endfor %}  {{ apptainer_fullpath }}
