#!/bin/sh

if [ ! -f "{{ apptainer_fullpath }}" ]; then
  export APPTAINER_TMPDIR="$(dirname "{{ apptainer_fullpath }}")"
  {{ engine_path }} pull {{ apptainer_fullpath }}.tmp docker://{{ docker_image }}
  mv {{ apptainer_fullpath }}.tmp {{ apptainer_fullpath }}
fi
